<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table style="font-family: 'Helvetica'; background:#f6f6f6; border-collapse: collapse; border-spacing: 0;" width="650px" align="center">
        <tbody>
            <tr>
                <td colspan="2" align="center">
                    <img width="300" src="{0}/imgs/logo.png" />
                </td>
            </tr>
            <tr style="font-size: 17pt;">
                <td colspan="2" style="text-align: center; line-height:1.25">
                    <br />
                    <br />
                    <div style="font-weight: 700; color: #2476c2;">Gracias por registrarte</div>
                    <div style="font-weight: 200; color: #504e4f;">da click en el siguiente link para confirmar tu cuenta.</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <br />
                    <br />
                    <a href="{1}">
                        Confirmar cuenta
                    </a>
                    <br />
                    <br />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>